.short-title {
  @include clear;
  padding-top: 144px;
  margin-left: 50px;
  max-width: 1103px;
  font-family: $fontInter;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 69px;
  color: $textDark;
}

@media screen and #{$tablet} {
  .short-title {
    padding-top: 80px;
    margin-left: 30px;
    max-width: 651px;
    font-size: 33px;
    line-height: 37px;
    color: $textDark;
  }
}

@media screen and #{$mobile} {
  .short-title {
    margin: 0 auto;
    padding-top: 75px;
    max-width: 260px;
    font-size: 26px;
    line-height: 31px;
    color: $textDark;
  }
}
