.paint__title {
  @include clear;
  padding-top: 120px;
  margin-left: 50px;
  font-family: $fontInter;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  color: $textDark;
  max-width: 1103px;
  letter-spacing: 0.1px;
}

@media screen and #{$tablet} {
  .paint__title {
    padding-top: 60px;
    margin-left: 30px;
    margin-right: 60px;
    max-width: 648px;
    font-size: 33px;
    line-height: 37px;
  }
}

@media screen and #{$mobile}{
  .paint__title {
    font-size: 26px;
    line-height: 31px;
    max-width: 260px;
    margin: 0 auto;
    padding-top: 73px;
  }
}
