.backfeed-form__text_textarea {
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 20px;
  max-width: 980px;
  height: 115px;
  grid-column: 1/3;
}

@media screen and #{$tablet} {
  .backfeed-form__text_textarea {
    width: 450px;
  }
}

@media screen and #{$mobile} {
  .backfeed-form__text_textarea {
    width: 240px;
  }
}
