.header__title {
  @include clear;
  font-family: $fontInter;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;
  margin-top: 55px;
  margin-left: -3px;
}

@media screen and #{$tablet} {
  .header__title {
    font-size: 33px;
    line-height: 37px;
    margin-top: 47px;
  }
}

@media screen and #{$mobile} {
  .header__title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 50px;
  }
}