.header__title {
  @include clear;
  font-family: $fontInter;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;
  margin-left: -3px;
  margin-top: 90px;
  max-width: 650px;
}

@media screen and (max-width: 1200px) {
  .header__title {
    max-width: 490px;
    font-size: 40px;
    line-height: 49px;
  }
}

@media screen and #{$tablet} {
  .header__title {
    font-size: 33px;
    line-height: 37px;
    margin-top: 80px;
    margin-left: 1px;
  }
}

@media screen and #{$mobile} {
  .header__title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 50px;
    margin-left: 0;
  }
}
