.header__wrapper {
  margin: 0 auto;
  padding: 0 160px;
  max-width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and #{$tablet} {
  .header__wrapper {
    padding: 0 50px;
  }
}

@media screen and #{$mobile} {
  .header__wrapper {
    padding: 20px;
    flex-direction: column;
    max-width: 300px;
  }
}