.header {
  margin: 0 auto;
  margin-right: -1px;
  max-width: 1420px;
  min-height: 640px;
  background-color: $bgDark;
  border-radius: 20px;
  color: $textLight;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 160px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media screen and #{$tablet} {
  .header {
    padding: 0 50px;
    min-height: 602px;
  }
}

@media screen and #{$mobile} {
  .header {
    max-height: 898px;
    padding: 20px;
    flex-direction: column;
    max-width: 300px;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
  }
}


