.footer__button {
  @include clear;
  margin-top: 175px;
  width: 470px;
  height: 54px;
  background: $textLight;
  border-radius: 8px;
  font-family: $fontInter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $bgDark;
}

@media screen and #{$tablet} {
  .footer__button {
    margin-top: 135px;
    width: 240px;
    height: 48px;
  }
}

@media screen and #{$mobile} {
  .footer__button {
    width: 260px;
    height: 48px;
    margin: 92px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}