.card__title {
  @include clear;
  font-family: $fontInter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: $textDark;
  margin-left: 40px;
  margin-right: 40px;
  min-height: 116px;
  margin-top: 20px;
}

@media screen and #{$tablet} {
  .card__title {
    font-size: 26px;
    line-height: 31px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 12px;
    min-height: 93px;
  }
}