// Шрифты
$fontInter: Inter, Arial, sans-serif;

// Цвета блоков
$bgDark: #222222;
$bgCard: #F8F8F8;
$bgBullet: #D9D9D9;
$bgBulletActive: #212121;

// Цвета текста
$textLight: #FFFFFF;
$textLightOpacity: rgba(255, 255, 255, 0.7);
$textDark: #111111;
$textDarkOpacity: rgba(17, 17, 17, 0.6);
$textPlaceholder: rgba(17, 17, 17, 0.3);

// Media
$tablet: '(max-width: 1023px)';
$mobile: '(max-width: 767px)';
