.card {
  @include clear;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bgCard;
  border-radius: 20px;
  margin-right: 20px;
  max-width: 540px;

  &:last-child {
    margin-right: 0px;
  }
}

@media screen and #{$tablet} {
  .card {
    margin-right: 10px;
  }
}